<!DOCTYPE html>
<html>
  <head>
    <title>Bullcows</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="box container">

      <div class="header">
        <h1><%= image_tag("bull.png", class: "head-icon") %>Bulls and Cows<%= image_tag("cow.png", class: "head-icon") %></h1>
        
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="row justify-content-md-center" >
          <div class="col-md-12">

            <div id="status"></div>

            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" id="user_input" placeholder="">
              </div>
              <button class="btn btn-primary" id="sendInputButton">Submit</button>
            </form>

            <small>Green school 2017</small>

          </div>

        </div>
      </div>
    </div>

      

  </body>
</html>
